* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", sans-serif;
  background: linear-gradient(135deg, #eef2ff, #f8fafc);
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  background: #ffffff;
  padding: 25px;
  border-radius: 15px;
  width: 350px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-5px);
}

.navbar {
  background: linear-gradient(90deg, #2563eb, #1e3a8a);
  color: white;
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar h3 {
  font-weight: bold;
}

.navbar a {
  color: white;
  margin-left: 20px;
  text-decoration: none;
  font-weight: 500;
  transition: 0.3s;
}

.navbar a:hover {
  color: #c7d2fe;
}

.container {
  padding: 30px;
}

input,
select,
textarea {
  width: 100%;
  padding: 10px;
  margin: 12px 0;
  border-radius: 8px;
  border: 1px solid #ccc;
  transition: 0.2s;
}

input:focus,
select:focus,
textarea:focus {
  border-color: #2563eb;
  outline: none;
}

button {
  width: 100%;
  padding: 12px;
  background: linear-gradient(90deg, #2563eb, #1e40af);
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
}

button:hover {
  background: linear-gradient(90deg, #1e40af, #1e3a8a);
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  background: white;
  border-radius: 10px;
  overflow: hidden;
}

.table th {
  background: #2563eb;
  color: white;
  padding: 12px;
}

.table td {
  padding: 12px;
  text-align: center;
}

.table tr:nth-child(even) {
  background: #f1f5f9;
}

.table tr:hover {
  background: #e0e7ff;
}

h2 {
  margin-bottom: 15px;
  color: #1e293b;
  text-align: center;
}

.home {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  background: linear-gradient(135deg, #2563eb, green);
  color: white;
  text-align: center;
}

.home-content {
  max-width: 600px;
}

.home h1 {
  font-size: 48px;
  margin-bottom: 15px;
}

.home p {
  font-size: 18px;
  margin-bottom: 25px;
  line-height: 1.5;
}

.home-buttons {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.home button {
  padding: 12px 20px;
  border-radius: 8px;
  border: none;
  background: white;
  color: #1e3a8a;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.home button:hover {
  transform: scale(1.05);
}

.home .secondary {
  background: transparent;
  border: 2px solid white;
  color: white;
}
